.header-alert-wrapper{
    position: absolute;
    text-align: center;
    width: 100%;
}
.header-alert{
    position: relative;
    text-align: center;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    height:110px;
    width: max-content;
    /* width: 45%; */
    background-color: var(--red);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}
.header-alert h1{
    line-height: 3rem;
}
.header-alert p{
    line-height: 2.5rem;
}

.footer-alert {
    position: fixed;
    height: 15px;
    width: 100vw;
    background-color: red;
    z-index: 13;
    bottom: 0;
}